<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <table>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Fecha límite</th>
        </tr>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.fecha_limite }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>